* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Tw Cen MT", "Century Gothic", Arial, sans-serif;
}

.grid_container {
    /*pozadi*/
    max-width: 80%;
    background-color: aliceblue;
    margin: 0 auto;
    padding: 64px 16px;

    /*mrizka pro obrazky*/
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: center;
}

.casopis {
    display: inline-block;
    position: relative;
}

.casopis img {
    display: block;
    transition: transform .15s linear;
    box-shadow: 6px 6px 12px 2px #0008;
}

.casopis:hover img {
    transform: scale(1.05);
}

.gradient {
    display: block;
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 25%, black 75%, black 100%);
    opacity: 0;
    transition: opacity .15s linear;
    transition: transform .15s linear;
}

.casopis:hover .gradient {
    opacity: 1;
    transform: scale(1.05);
}

.info_text {
    position: absolute;
    color: white;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    font-size: 16px;
    text-align: center;
}

.casopis:hover .info_text {
    opacity: 1;
}

.info_link {
    position: absolute;
    color: white !important;
    top: 90%;
    left: 100%;
    transform: translate(-110%, 0%);
    white-space: nowrap;
    opacity: 0;
    font-size: 16px !important;
    text-decoration: underline !important;
}

.info_link:hover {
    cursor: pointer;
}

.casopis:hover .info_link {
    opacity: 1;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    background: #0008;
    z-index: 9999;
}

.info_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
    background: white;
    border: 1px solid #000;
    z-index: 10000;
    width: 40%;
}

#cudlik80:checked ~ #overlay80 { display: block; }
#cudlik79:checked ~ #overlay79 { display: block; }

.vrchni_radek_popupu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.zavrit_popup:hover {
    cursor: pointer;
}

.tiraz {
    list-style-type: none;
    list-style-position: inside;
}

li {
    margin: 2px;
}

.credits_container {
    max-width: 80%;
    background-color: aliceblue;
    padding: 64px 16px;
    margin: 0 auto;
}

.credits {
    text-align: center;
}