* {
    margin: 0;
    padding: 0;
}

.grid_container {
    /*pozadi*/
    max-width: 80%;
    background-color: aliceblue;
    margin: 0 auto;
    padding: 64px 16px;

    /*mrizka pro obrazky*/
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: center;
}

.casopis {
    display: inline-block;
    position: relative;
}

.casopis img {
    display: block;
    transition: transform .15s linear;
    box-shadow: 6px 6px 12px 2px #0008;
}

.casopis:hover img {
    transform: scale(1.05);
}

.gradient {
    display: block;
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 25%, black 75%, black 100%);
    opacity: 0;
    transition: opacity .15s linear;
    transition: transform .15s linear;
}

.casopis:hover .gradient {
    opacity: 1;
    transform: scale(1.05);
}

.info_text {
    position: absolute;
    color: white;
    top: 75%;
    left: 50%;
    transform: translate(-50%, 0%);
    white-space: nowrap;
    opacity: 0;
    font-size: 16px;
}

.casopis:hover .info_text {
    opacity: 1;
}

.info_link {
    position: absolute;
    color: white !important;
    top: 90%;
    left: 100%;
    transform: translate(-110%, 0%);
    white-space: nowrap;
    opacity: 0;
    font-size: 16px !important;
    text-decoration: underline !important;
}

.casopis:hover .info_link {
    opacity: 1;
}